html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;

    line-height: 1.6;
    font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color:rgb(172, 68, 103)
}


* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.5rem;
}


hr {
  border: 1px solid #ddd;
}

iframe {
  background: #ccc;
  border: 1px solid #ccc;
  height: 10rem;
  width: 100%;
  border-radius: 0.5rem;
  filter: invert(1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;